<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Interview Assignment</title>
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <style>
      html, body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
      }
    </style>
  </head>
  <body>
    <svg xmlns="http://www.w3.org/2000/svg" width="397" height="176" viewBox="0 0 396.9 175.6"><style>.a{fill:#A3BBC3;}</style><path d="M72.4 112.5H47.2c-1.1 0-1.6-0.5-1.6-1.6V64.7c0-1.1 0.5-1.6 1.6-1.6h25.1c1 0 1.5 0.5 1.5 1.6v5.2c0 1.1-0.5 1.6-1.5 1.6H56.3c-0.6 0-0.9 0.3-0.9 0.8v10c0 0.6 0.3 0.8 0.9 0.8h13.1c1.1 0 1.6 0.5 1.6 1.6v5.2c0 1.1-0.5 1.6-1.6 1.6H56.3c-0.6 0-0.9 0.3-0.9 0.8v10.7c0 0.6 0.3 0.8 0.9 0.8h16.1c1 0 1.5 0.5 1.5 1.6v5.2C73.9 112 73.4 112.5 72.4 112.5z"/><path d="M97.4 112.5H91c-1.1 0-1.6-0.5-1.6-1.6V64.7c0-1.1 0.5-1.6 1.6-1.6h5.8c1.1 0 1.8 0.4 2.2 1.1l15.5 29.1h0.3V64.7c0-1.1 0.5-1.6 1.6-1.6h6.4c1.1 0 1.6 0.5 1.6 1.6v46.2c0 1.1-0.5 1.6-1.6 1.6h-5.6c-1.1 0-1.9-0.5-2.5-1.5L99.3 82.4H99v28.5C99 112 98.4 112.5 97.4 112.5z"/><path d="M161.3 112.5h-8.2c-4.1 0-7.2-1.1-9.4-3.2 -2.2-2.2-3.3-5.3-3.3-9.3V75.6c0-4 1.1-7.2 3.3-9.3 2.2-2.2 5.3-3.2 9.4-3.2h8.2c4 0 7.1 1.1 9.3 3.3 2.2 2.2 3.3 5.3 3.3 9.3v2.3c0 1.1-0.5 1.7-1.6 1.7h-6.5c-1.1 0-1.6-0.6-1.6-1.7v-1.8c0-1.6-0.3-2.8-1-3.5 -0.7-0.7-1.8-1-3.5-1h-5c-1.6 0-2.7 0.3-3.4 1s-1 1.9-1 3.5v23.5c0 1.6 0.3 2.8 1 3.5s1.8 1 3.4 1h5c1.6 0 2.8-0.3 3.5-1 0.7-0.7 1-1.9 1-3.5v-4.8c0-0.6-0.3-0.8-0.8-0.8h-4.6c-1.1 0-1.6-0.5-1.6-1.6V87c0-1.1 0.5-1.6 1.6-1.6h13.5c1.2 0 1.8 0.6 1.8 1.8V100c0 4-1.1 7.1-3.3 9.3C168.4 111.4 165.3 112.5 161.3 112.5z"/><path d="M198.3 112.5h-6.5c-1.1 0-1.6-0.5-1.6-1.6V64.7c0-1.1 0.5-1.6 1.6-1.6H210c4 0 7.1 1.1 9.4 3.3 2.3 2.2 3.4 5.3 3.4 9.3v6c0 5.8-2.3 9.6-6.8 11.5v0.3l8.2 17.1c0.5 1.2 0 1.8-1.3 1.8h-6.2c-0.9 0-1.6-0.1-2-0.3 -0.4-0.2-0.7-0.6-1-1.3l-7.7-16.6h-5.2c-0.6 0-0.9 0.3-0.9 0.8v15.8C199.9 112 199.3 112.5 198.3 112.5zM200.7 86.4h7.5c1.6 0 2.8-0.3 3.6-1 0.8-0.7 1.2-1.8 1.2-3.3v-6c0-1.6-0.4-2.7-1.2-3.5 -0.8-0.7-2-1.1-3.6-1.1h-7.5c-0.6 0-0.8 0.3-0.8 0.8v13.2C199.9 86.2 200.2 86.4 200.7 86.4z"/><path d="M244.2 112.5h-7.4c-0.9 0-1.2-0.5-0.9-1.6l12.1-46.2c0.4-1.1 1.1-1.6 2.3-1.6h10.2c1.3 0 2.1 0.5 2.3 1.6l12.2 46.2c0.3 1.1 0 1.6-0.9 1.6h-7.4c-0.6 0-0.9-0.1-1.2-0.3 -0.2-0.2-0.4-0.7-0.5-1.3l-2.2-8.5h-15l-2.2 8.5c-0.1 0.6-0.3 1-0.5 1.3C245.1 112.4 244.8 112.5 244.2 112.5zM255.4 72.4l-5.5 22.2h11.4l-5.5-22.2H255.4z"/><path d="M299 64.7v46.2c0 1.1-0.5 1.6-1.6 1.6h-6.5c-1.1 0-1.6-0.5-1.6-1.6V64.7c0-1.1 0.5-1.6 1.6-1.6h6.5C298.5 63.1 299 63.6 299 64.7z"/><path d="M324.3 112.5h-6.4c-1.1 0-1.6-0.5-1.6-1.6V64.7c0-1.1 0.5-1.6 1.6-1.6h5.8c1.1 0 1.8 0.4 2.2 1.1l15.5 29.1h0.3V64.7c0-1.1 0.5-1.6 1.6-1.6h6.4c1.1 0 1.6 0.5 1.6 1.6v46.2c0 1.1-0.5 1.6-1.6 1.6h-5.6c-1.1 0-1.9-0.5-2.5-1.5l-15.4-28.6h-0.3v28.5C325.9 112 325.4 112.5 324.3 112.5z"/><rect x="318.3" y="153.7" transform="matrix(0.8659 -0.5002 0.5002 0.8659 -29.816 199.1242)" width="76.4" height="3" class="a"/><rect x="393.9" y="49.6" width="3" height="76.4" class="a"/><rect x="355" y="-17.8" transform="matrix(0.5 -0.866 0.866 0.5 160.5642 318.9172)" width="3" height="76.4" class="a"/><rect y="49.6" width="3" height="76.4" class="a"/><rect x="38.9" y="117" transform="matrix(0.5 -0.866 0.866 0.5 -114.1712 112.5911)" width="3" height="76.4" class="a"/><rect x="2.2" y="18.9" transform="matrix(0.8659 -0.5002 0.5002 0.8659 -4.7872 22.9563)" width="76.4" height="3" class="a"/></svg>
  </body>
</html>
